[project]
name = "lucidbox-engineering-github-io"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13,<3.14"
dependencies = [
    "pelican[markdown]>=4.11.0",
]
