{% extends "nav_base.html" %}

{% block title %}{{ author }} - {{ super() }}{% endblock title %}
{% block description %}{{ author }}'s Posts{% endblock description %}


{% block section %}
<h2><a href="{{ SITEURL }}/{{ author.url }}">{{ author.name }}'s Posts</a></h2>
{% for article in articles %}
  <dl class="page-list-item">
    <dt>
      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> - 
      <small>{{ article.locale_date}}</small>
    </dt>
    <dd>
      {{ article.summary }}
    </dd>
  </dl>
{% endfor %}
{% endblock section %}
