{% extends "nav_base.html" %} {% block section %}

<div class="landing-artboard">
  <h1>Engineering<br />Intelligence</h1>
  <div>Software, Hardware, and Strategy for the Future</div>
  <button>Contact Us ></button>
</div>
<div class="landing-services">
  <div class="arrow-container">
    <h2 class="arrow">></h2>
    <h2>
      LucidBox is a modern engineering and consulting firm blending software and
      electrical expertise to create elegant, high-performance systems.
    </h2>
  </div>
  <div class="button-container">
    <p>
      From product design to infrastructure and strategy, we help ambitious
      teams bring clarity and innovation to complex challenges.
    </p>
    <button>See our full list of services ></button>
  </div>
</div>
<div class="landing-about">
  <div class="card-box">
    <div class="card">
      <span class="digit">01.</span>
      <h2>Industries We Serve</h2>
      <p>
        We work with clean-tech innovators, energy storage pioneers, and
        industrial IoT teams to build technologies that matter.
      </p>
    </div>
    <div class="card">
      <span class="digit">02.</span>
      <h2>What we do</h2>
      <p>
        We specialize in bridging hardware and software to build scalable,
        intelligent, and future-ready systems. Our services span software
        development, electrical engineering, and strategic consulting.
      </p>
    </div>
    <div class="card">
      <span class="digit">03.</span>
      <h2>Why LucidBox?</h2>
      <p>
        We’re not just engineers—we’re partners in progress. We bring a rare
        combination of deep technical skill, strategic insight, and creative
        drive.
      </p>
    </div>
  </div>
</div>

{% endblock section %}
