{% extends "page.html" %}

{% block description %}{{ "We build scalable software and electrical systems for connected devices, smart infrastructure, and technical product development." }}{% endblock description %}

{%block page %}
<div class="page service-page">
  <div class="max-width-container">
    <h1 class="page-heading">
      We build scalable software and electrical systems for connected devices,
      smart infrastructure, and technical product development.
    </h1>
    <div class="service-lists">
      <div class="service-group">
        <div class="arrow-container">
          <h2 class="arrow">></h2>
          <div>
            <h2>Software Engineering</h2>
          </div>
        </div>
        <p>
          We design and build robust software systems, from frontend interfaces
          to backend infrastructure
        </p>

        <div class="service-cards">
          <div class="service-card">
            {% include "svg/hugeicons_internet-antenna-02.svg" %}
            <h3>Distributed Systems & IoT</h3>
            <p>Edge devices and networked platforms</p>
          </div>
          <div class="service-card">
            {% include "svg/hugeicons_chart-line-data-02.svg" %}
            <h3>AI, ML & Data Systems</h3>
            <p>Intelligent, data-driven tools</p>
          </div>
          <div class="service-card">
            {% include "svg/hugeicons_ai-cloud-02.svg" %}
            <h3>Cloud Architecture</h3>
            <p>Secure, scalable backends</p>
          </div>
          <div class="service-card">
            {% include "svg/hugeicons_workflow-square-01.svg" %}
            <h3>DevOps</h3>
            <p>Streamlined testing and deployment</p>
          </div>
          <div class="service-card">
            {% include "svg/hugeicons_web-design-02.svg" %}
            <h3>Full-Stack Web Development</h3>
            <p>Intuitive, performant apps</p>
          </div>
          <div class="service-card">
            {% include "svg/phone-dev-mode.svg" %}
            <h3>Firmware & Embedded Software</h3>
            <p>Resilient, efficient systems</p>
          </div>
        </div>
      </div>

      <div class="service-group">
        <div class="arrow-container">
          <h2 class="arrow">></h2>
          <div>
            <h2>Electrical Engineering</h2>
          </div>
        </div>

        <p>We offer full-cycle electronics development</p>

        <div class="service-cards">
          <div class="service-card">
            {% include "svg/lucide_circuit-board.svg" %}
            <h3>Circuit & PCB Design</h3>
            <p>From prototype to production-ready hardware</p>
          </div>
          <div class="service-card">
            {% include "svg/lucide_microchip.svg" %}
            <h3>Microcontroller-Based Systems</h3>
            <p>Smart control and communication</p>
          </div>
          <div class="service-card">
            {% include "svg/lucide_shield-check.svg" %}
            <h3>Product Electrical Design</h3>
            <p>Architecture and certification guidance</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-about service-industries">
    <div class="service-group max-width-container wide">
      <h2 class="service-industries">> Industries We Serve</h2>
      <div class="card-box">
        <div class="card">
          <h2>Clean-Tech & Renewables</h2>
          <p>
            Our expertise bridges solar project development, power grid
            integration, DERMS/VPPs with battery management and control software
            systems.
          </p>
        </div>
        <div class="card">
          <h2>Smart Access & Building Systems</h2>
          <p>
            Leverage our multidisciplinary expertise to design, build, and
            integrate smarter access controls with next-gen building systems.
          </p>
        </div>
        <div class="card">
          <h2>IoT Monitoring & Automation</h2>
          <p>
            Gain predictive insights, ensure system reliability, and streamline
            operations through our combined monitoring, diagnostics, and
            automation expertise.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
